<template>
  <v-container class="col-lg-8 col-sm-12">
    <h1 class="display-3 my-4" v-text="$i18n('smc-about-heading')"></h1>
    <article>
      <p v-text="$i18n('smc-desc')"></p>
      <p v-text="$i18n('smc-about-text-para-1')"></p>
      <p v-text="$i18n('smc-about-text-para-2')"></p>
      <p v-text="$i18n('smc-about-text-para-3')"></p>
    </article>
  </v-container>
</template>
